:root {
    --primary-color: #0b4f6c;
    --secondary-color: #f75c03;
    --accent1-color: #042940;
    --accent2-color: #00a896;
    --background-light: #f4f7f6;
    --heading-font: "Montserrat", "Oswald", -apple-system, sans-serif;
    --body-font: "Open Sans", "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin-bottom: 4px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    /* padding: 1rem 2rem; */
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 30%;
    background-color: var(--accent2-color);
    opacity: 0.9;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0px 2rem;
}

.hero article img {
    width: 125px;
}

header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    margin: 0 10px;
}

footer {
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav a img {
    width: 2rem;
}

main section h2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0px 2rem;
}

header img {
    width: 100px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.history-section div {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    align-items: center;
    gap: 4px;

}

.history-section div img {
    width: 100%;
}

.adventure-section div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

}

.adventure-section div figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure-section div figure img {
    width: 100%;
}

.adventure-section div figure figcaption {
    text-align: center;
}