* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 7rem;
    top: 33.5rem;
    font-weight: bold;
    text-decoration: underline;
}

main img {
    width: 150px;
    height: auto;
}

main p {
    font-size: 1.2rem;
    line-height: 1.5;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: #005599;
    padding: 15px;
}

nav a {
    color: #ffffff;
    padding: 10px;
    display: block;
}

h1 {
    color: #222222;
}

main img {
    width: 15rem;
    height: auto;
    border: 2px solid #000000;
    padding: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    float: right;

}

ul.box {
    clear: both;
    padding-left: 2rem;
    margin-top: 3rem
}